In [1]:
import os
import requests, re

import pandas as pd

In [2]:
DATA_DIR = os.path.join('..', 'data')

SCHOOL_SHOOTINGS_BEFORE_2000_FILEPATH = os.path.join(DATA_DIR, 'before_20th_century_shootings.csv')
SCHOOL_SHOOTINGS_AFTER_2000_FILEPATH = os.path.join(DATA_DIR, '20th_century_school_shootings.csv')

## Join Data

In [3]:
before_2000_df = pd.read_csv(SCHOOL_SHOOTINGS_BEFORE_2000_FILEPATH)
after_2000_df = pd.read_csv(SCHOOL_SHOOTINGS_AFTER_2000_FILEPATH)

df = pd.concat([before_2000_df, after_2000_df])

## Create Features

In [4]:
def find_shooter_number_in_str(text):
    match = re.match('.*(\d)+\]', text)
    if match:
        return match[1]
    return 0
find_shooter_number_in_str('2[n 1]')
# find_shooter_number_in_str('2')

'1'

In [5]:
reformatted_injuries = df['Injuries'].str.replace('?', '0')
numeric_injuries = reformatted_injuries.str.replace('\D', '')

In [6]:
df['Shooter_Deaths'] = df['Deaths'].apply(find_shooter_number_in_str).astype(int)

In [7]:
df['Shooter_Injuries'] = df['Injuries'].apply(find_shooter_number_in_str).astype(int)

In [8]:
df['Total_Deaths'] = df['Deaths'].apply(lambda d: d.split('[')[0]).astype(int)

In [9]:

df['Total_Injuries'] = numeric_injuries.apply(lambda d: d.split('[')[0]).astype(int)

## Explore data

In [11]:
df.head(n=2)

,Date,Location,Deaths,Injuries,Description,Shooter_Deaths,Shooter_Injuries,Total_Deaths,Total_Injuries
0,"November 12, 1840","Charlottesville, Virginia",1,0,"John Anthony Gardner Davis, a law professor at...",0,0,1,0
1,"November 2, 1853","Louisville, Kentucky",1,0,Student Mathews Flounoy Ward shot the schoolma...,0,0,1,0

In [14]:
# TODO:
# -- Group by decade
# -- Sum deaths and plot
# -- Add events to chart like AR-15 introduced, etc